.settings-page-admin {
  max-width: 720px;
  margin: 40px auto;
  padding: 20px;
}

.settings-page-admin h2 {
  font-size: 26px;
  margin-bottom: 30px;
  color: #0f172a;
}

.settings-card-admin {
  background: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
  margin-bottom: 30px;
}

.settings-card-admin h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #334155;
}

.settings-card-admin input {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  font-size: 14px;
}

.settings-card-admin button {
  background: linear-gradient(180deg, #ff6b6b, #ff8e53);;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.settings-card-admin button:hover {
  opacity: 0.95;
    background-color: #ff8e53;
}
