.page-title-org {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
}

.stats-grid-org {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.stat-card-org {
  background: #fff;
  border-radius: 18px;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.stat-card-org h3 {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}


/* #72ff6b */
.stat-card-org p {
  font-size: 28px;
  font-weight: 700;
  color: #14be55;
}
